* {
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

main {
  background-color: #f8f9fe;
  border-radius: 10px;
  box-shadow: 2px 2px 9px #989595f7;
  min-height: 400px;
  padding: 20px;
  width: 300px;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#github img {
  width: 100px;
}

button {
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 9px #989595f7;
}
